{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-sm-10">
            <div class="card">
                <h5 class="card-header">Information</h5>
                <div class="card-body">
                    <h5 class="card-title">{{ user.first_name }} {{ user.last_name }}</h5>
                    <p class="card-text">Email: {{ user.email }}</p>
                    <p class="card-text">Gender: {{ user.gender }}</p>
                    <a href="/news/create">
                        <button type="button" class="btn btn-outline-primary">New article</button>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="card">
                <h5 class="card-header">Categories count</h5>
                <div class="card-body">
                    {% for statistic in user.get_statistics %}
                        <div class="row">
                            <div class="col-sm">
                                <span class="badge {{ statistic.category.get_category_color }} px-2 py-1 shadow-1-strong mb-3">{{ statistic.category.name }}</span>
                            </div>
                            <div class="col-sm">
                                <span class="badge bg-secondary">{{ statistic.count }}</span>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <p></p>
    <div class="card">
        <h5 class="card-header">Articles</h5>
        <div class="card-body">
{#            {{ user.statistics }}#}
            {% for news in user.all_news %}
                <div class="card">
                    <div class="card-body">
                        <span class="badge {{ news.category.get_category_color }} px-2 py-1 shadow-1-strong mb-3">{{ news.category.name }}</span>
                        <h5 class="card-title">{{ news.title }}</h5>
                        <a href="/news/{{ news.id }}" class="card-link">More</a>
                    </div>
                  <div class="card-footer text-muted">
                      {{ news.created_at|date:"d M, Y" }}
                      <a href="/news/edit/{{ news.id }}">
                          <button type="button" class="btn btn-outline-primary float-end">Edit</button>
                      </a>
                  </div>
                </div>
        <p></p>
        {% endfor %}
        </div>
    </div>
{% endblock %}