{% extends 'news/base.html' %}
{% block content %}
    {% for news in all_news %}
        <div class="card">
            <h5 class="card-header">
                Author: {{ news.user.first_name }}
                {{ news.user.last_name }}, {{ news.user.email }}
            </h5>
            <div class="card-body">
                <span class="badge bg-danger px-2 py-1 shadow-1-strong mb-3">{{ news.category.name }}</span>
                <h5 class="card-title">{{ news.title }}</h5>
                <p class="card-text">{{ news.summary }}</p>
                <a href="/news/{{ news.id }}" class="card-link">More</a>
            </div>
          <div class="card-footer text-muted">{{ news.created_at|date:"d M, Y" }}</div>
        </div>
        <p></p>
    {% endfor %}
{% endblock %}
